.blockWrapper {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tagline {
  font-family: 'Ruberoid';
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
  align-self: center;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.item {
  display: flex;
}

.image {
  margin-right: 10px;
}

.count,
.descr {
  font-family: 'Ruberoid';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
}

@media screen and (min-width: 1440px) {
  .blockWrapper {
    padding: 48px 0;
    gap: 64px;
  }
  .tagline {
    font-size: 24px;
    line-height: 36px;
  }
  .listWrapper {
    display: flex;
    align-items: center;
  }

  .list {
    gap: 90px;
    margin-left: 36px;
  }
}
