.blockWrapper {
  display: flex;
  flex-direction: column;

  /* padding: 24px 16px 48px 16px; */
  background-color: var(--bg-light-color);
  /* gap: 24px; */
}

.hero {
  display: flex;
  margin-bottom: 24px;

  width: 343px;
  height: 220px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-image: linear-gradient(var(--mask-bg), var(--mask-bg)),
    url('../../../images/serv-mainten-bg-mob.png');
}

.title {
  align-self: center;
  text-align: center;

  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--sidebar-text-color);
}

.text {
  text-align: center;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.24px;
  color: var(--text-light-color);
}

.target {
  font-weight: 600;
}

.paginationBlock {
  /* PAGINATION */
  margin-bottom: 0;
}

@media screen and (min-width: 1440px) {
  .hero {
    margin-bottom: 48px;

    width: 1027px;
    height: 376px;
    border-radius: 0;
    background-image: linear-gradient(var(--mask-bg), var(--mask-bg)),
      url('../../../images/serv-mainten-bg.png');
  }

  .title {
    margin: 0 auto;
  }

  .text {
    margin: 0 auto;
    width: calc(65%);
  }
}
