.list {
  display: flex;
  position: inherit;
  /* width: 1025px; */
  /* height: 216px; */
  /* flex-direction: column; */
  align-items: stretch;
  /* padding: 32px; */
  gap: 16px;
}

.item {
  width: 456px;
  height: 267px;
}

.descr {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;

  display: flex;
  align-items: center;
  letter-spacing: 0.24px;

  color: var(--text-color);
}

.link {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  letter-spacing: 0.24px;
  color: var(--big-button-color);
}

.link::after {
  padding-left: 15px;
  content: url('../../../images/arrowRight.svg');
}
