.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.descr {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  text-align: left;
  align-items: center;
  letter-spacing: 0.24px;

  color: var(--text-color);
}

.link {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  letter-spacing: 0.24px;
  color: var(--big-button-color);
}

.link::after {
  padding-left: 15px;
  content: url('../../../images/arrowRight.svg');
}

.image {
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 1440px) {
  .list {
    flex-direction: row;
  }

  .item {
    width: 440px;
    height: 245px;
  }

  .descr {
    font-size: 26px;
    line-height: 40px;
  }

  .image {
    width: 80px;
    height: 80px;
  }
}
/* @media screen and (min-width: 1280px) {
  .list {
    padding-bottom: 0;
    flex-direction: row;
  }

  .item {
    width: 440px;
    height: 245px;
  }

  .descr {
    font-size: 26px;
    line-height: 40px;
  }

  .image {
    width: 80px;
    height: 80px;
  }
} */
