.cardStyles {
  /* position: 'relative'; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

.menuItem {
  border-radius: 5px;
  padding: 9px 0 9px 14px;
  width: 32;
  height: 32;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 200ms;
  background-color: var(--big-button-color);
}

.menuItem:hover {
  background-color: var(--bg-light-color);
}
