.blockWrapper {
  padding: 32px;

  display: flex;
  flex-direction: column;
  background-color: var(--bg-light-color);
  box-shadow: 0 0 8px 8px rgba(123, 170, 241, 0.3);
  border-radius: 8px;
  gap: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.item {
  display: flex;
  align-items: flex-start;
}
.text {
  margin-left: 5px;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: var(--text-color);
}
@media screen and (min-width: 1440px) {
  .blockWrapper {
    padding: 48px 0;
    gap: 36px;
  }
  .title {
    width: calc(45%);
    font-size: 26px;
    line-height: 40px;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item {
    width: calc(45%);
  }
}
