.servicesBlock {
  padding: 48px 16px 48px 16px;
  background: var(--bg-medium-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.taglineBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 1440px) {
  .servicesBlock {
    padding: 96px;
    align-items: flex-start;
    text-align: left;
    gap: 48px;
  }

  .orderWrapepr {
    display: flex;
  }

  .taglineBlock {
    align-items: flex-start;
    gap: 24px;
  }

  .sendInfo {
    align-self: self-end;
  }
}
