.servicesBlock {
  /* padding: 96px 96px 0 96px; */
  padding: 96px;
  height: 993px;
  width: 1025px;
  background: var(--bg-light-color);
  display: flex;
  flex-direction: column;
}

.ourServ {
  padding-bottom: 15px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;
  color: var(--accent-color);
}

.taglineBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
}

.tagline {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
}
