.advantagesBlock {
  padding: 85px 16px 48px 16px;
  background-color: var(--bg-light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('../../images/advantagesBgWaves-mob.svg');
  background-repeat: no-repeat;
  background-size: contain;
  gap: 16px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  /* padding-bottom: 24px; */
}

@media screen and (min-width: 1440px) {
  .advantagesBlock {
    padding: 96px;
    background-image: url('../../images/advantagesBgWaves.svg');
    background-repeat: no-repeat;
    gap: 72px;
  }

  .textBlock {
    gap: 24px;
    /* padding-bottom: 88px; */
  }
}
