.advantagesBlock {
  padding: 85px 16px 48px 16px;
  background-color: var(--bg-light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('../../images/advantagesBgWaves-mob.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .advantagesBlock {
    padding: 96px;
    background-image: url('../../images/advantagesBgWaves.svg');
    background-repeat: no-repeat;
    /* height: 713px; */
  }

  .text {
    padding-bottom: 88px;
  }
}
