.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1440px) {
  .listWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
