:global(.headingBlock) {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: var(--accent-color);
}

:global(.taglineBig) {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
}

:global(.tagline) {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: var(--text-color);
}

:global(.text) {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: var(--text-light-color);
}

@media screen and (min-width: 1440px) {
  :global(.taglineBig) {
    font-size: 36px;
    line-height: 54px;
  }

  :global(.tagline) {
    font-size: 26px;
    line-height: 40px;
  }

  :global(.text) {
    font-size: 18px;
    line-height: 27px;
  }
}
