@import url('/src/styles/fonts/gilroy/stylesheet.css');
@import url('/src/styles/fonts/ruberoid/stylesheet.css');

/* @media screen and (min-width: 1440px) {

} */

/* import { useMediaQuery } from 'react-responsive';
const isDesktop = useMediaQuery({ query: '(min-width: 1440px)' }); */

/* <SendInfo linkName="Ознакомиться с услугами" linkPath="/" hideLink={true}/> */

:root {
  --accent-color: #ff321b;
  --big-button-color: #223e7f;
  --bg-light-color: #fcfcfc;
  --bg-medium-color: #ebf3ff;
  --bg-dark-color: #012756;
  --text-color: #012756;
  --text-light-color: #223e7f;
  --sidebar-text-color: #fcfcfc;
  --form-text-color: #94a3c7;
  --round-btn-color: #d6e7ff;
  --card-bg: #d6e7ff;
  --footer-stroke: #d6e7ff;

  --mask-bg: rgba(20, 106, 204, 0.3);
  /* --mask-bg: rgba(217, 217, 217, 0.3); */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Gilroy', 'Ruberoid', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}

p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;

  color: var(--text-color);
}
