@import url('/src/styles/fonts/gilroy/stylesheet.css');
@import url('/src/styles/fonts/ruberoid/stylesheet.css');

:root {
  --accent-color: #ff321b;
  --big-button-color: #223e7f;
  --bg-light-color: #ebf3ff;
  --bg-dark-color: #012756;
  --text-color: #012756;
  --sidebar-text-color: #fcfcfc;
  --form-text-color: #94a3c7;
  --round-btn-color: #d6e7ff;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Gilroy', 'Ruberoid', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}
