.scroll {
  position: absolute;
  z-index: 30;
  bottom: 195px;
  right: 96px;

  width: 43px;
  height: 43px;

  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms;
  cursor: pointer;
  background-image: url('../../images/arrowUp-d.svg');
}

.scroll:hover {
  box-shadow: 0 1px 8px 3px rgba(165, 165, 165, 0.6);
}

@media screen and (min-width: 1440px) {
  .scroll {
    bottom: 195px;
    right: 96px;

    width: 64px;
    height: 64px;
  }
}
