.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .list {
    display: flex;
    flex-direction: row;
  }

  .item {
    display: flex;
    align-items: center;
  }
}
