.block {
  display: flex;
  padding: 0;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 375px;
  height: 68px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--bg-dark-color);
}

.headerMob {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.menuBtn {
  display: flex;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: var(--sidebar-text-color);

  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.menuBtn img {
  margin-left: 8px;
}

.list {
  display: flex;
}

.phone {
  display: block;
}

.phone::before {
  content: url('../../images/phone.svg ');
}

.mail::before {
  content: url('../../images/mail.svg');
}

.language {
  display: flex;
  letter-spacing: 0.24px;
}

/* @media screen and (min-width: 1280px) {
  .mainHeader {
    position: absolute;
    width: 84.5%;
    padding: 0 96px;
    height: 102px;
    background-color: transparent;
  }

  .block {
    position: absolute;
    width: 84.5%;
    right: 0;
    top: 0;
    display: flex;
    padding: 24px 96px 0 96px;
    background-color: transparent;
  }
} */
@media screen and (min-width: 1440px) {
  .mainHeader {
    position: absolute;
    width: 84.5%;
    padding: 0 96px;
    height: 102px;
    background-color: transparent;
  }

  .block {
    position: absolute;
    width: 84.5%;
    right: 0;
    top: 0;
    display: flex;
    padding: 24px 96px 0 96px;
    background-color: transparent;
  }
}
