.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  background-color: var(--bg-dark-color);

  /* position: sticky; */
  /* position: fixed; */
  /* height: 100%; */
  /* width: 12%; */
  /* left: 50%;
  margin-right: -50%; */
}

.logo {
  padding-bottom: 179px;
}

/* .sidebar {
  width: 20%;
  background: green;
  height: 100px;
  float: right;
} */
.sidebar.fixed {
  position: fixed;
  left: 50%;
  margin-right: -50%;
}
