.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark-color);
  position: relative;
  top: 80px;
  left: 41.8%;
}

.sidebar {
  position: absolute;
  width: 260px;
  height: 60vh;
  top: 68px;
  left: 100%;
  z-index: 50;
  transform: translateX(0);
  transition: transform 300ms linear;
}

.isOpen {
  transform: translateX(-100%);
}

.logo {
  padding-bottom: 179px;
}

@media screen and (min-width: 1440px) {
  .sidebar {
    position: inherit;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark-color);
    width: 15.5%;

    /* reset after mobile */
    position: static;
    height: 100vh;
    /* height: 100%; */
    z-index: 0;
    /* reset after mobile -END*/
  }

  .logo {
    padding-bottom: 179px;
    align-self: center;
  }
}
