.button {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background-image: url('../../images/round-button.png');
  cursor: pointer;
  scale: 1;
  transition: scale 100ms linear;
}

.button:hover {
  scale: 1.5;
  transition: scale 100ms linear;
}
