.heroAboutBlock {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 48px 16px;
  background-color: var(--bg-light-color);
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.img {
  border-radius: 8px;
}

.serviceLink {
  align-self: center;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24px;
  color: var(--text-light-color);
}

.serviceLink::after {
  padding-left: 10px;
  content: url('../../images/arrow-right.svg');
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .heroAboutBlock {
    min-height: 625px;
    background-repeat: no-repeat;
    background-image: url('../../images/hero-bg-about.png');
    background-position: right;
  }

  .heroContent {
    padding: 150px 96px 0 96px;
    width: 530px;
    height: 373px;
    gap: 30px;
  }

  .serviceLink {
    align-self: flex-start;
  }
}
